@using SeyahatSitesi.Models.Sınıflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<body>

    
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot" style="margin-left:80px">Tatil & Seyahat Bloğum</h2>
                   
                    <div class="header_bottom_right_images">

                        <div class="slider" style=" width:1000px; height:700px;"> @*SLIDERIN RESIMDEN DISARI TASMASINI BURADA AYARLIYORUZ*@
                            <ul class="rslides" id="slider1">
                                @foreach (var x in Model)
                                {


                                    <li><img src="@x.BlogImage" alt="" style="width:1000px; height:700px"></li>
                                    @* <li><img src="~/web/images/img2.jpg" alt=""></li>
            <li><img src="~/web/images/img3.jpg" alt=""></li>
            <li><img src="~/web/images/img4.jpg" alt=""></li>*@
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <br/>
                    <h3>Tatil seyahat bloguma hosgeldiniz...</h3>
                    <p>
                    Türkiye'de gezip gördüğüm yerleri  sizlerle paylaşacağım siteme hoşgeldiniz.
                    Umuyorum ki yazdiklarimi begenirsiniz,keyifli okumalar,saglikli gunler...</p>
                </div>
     @Html.Action("Partial1","Default")
                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3","Default")
                       @Html.Action("Partial4","Default")
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>
</html>

